@import "../../../styles/variables";

.root {
  .container {
    max-width: 1134px;
  }
  .image {
    @screen md {
      width: calc((100vw - 100%) / 2 + 100% - 37.5%);
      left: calc((-100vw + 100%) / 2);
    }
    @screen lg {
      width: calc((100vw - 100%) / 2 + 100% - 4 / 12 * 100%);
    }
  }

  .imageWrapper {
    height: 400px;
  }
  .textWrapper {
    @screen lg {
      max-width: 358px;
    }
  }
}
