@import '../../../styles/variables';

.root {
  position: relative;
  overflow: hidden;
  padding-bottom: 9rem;
}

.headline {
  text-align: center;
  margin-bottom: 1.6rem;
  
  @screen lg {
    margin-bottom: 2.4rem;
  }
}

.copy {
  text-align: center;
  margin-bottom: 4rem;

  @screen md {
    margin-bottom: 4.8rem;
  }

  @screen lg {
    margin-bottom: 5.6rem;
  }
}

.iconGrid {
  margin-bottom: 0.6rem;
}

.iconWrapper {
  margin-bottom: 5.6rem;
}

.iconImage {
  width: 12.2rem;
  height: 12.2rem;
  max-width: 100%;
  margin: 0 auto 2.4rem;

  @screen md {
    margin-bottom: 3.2rem;
  }
}

.iconText {
  text-align: center;
}

.ctaWrapper {
  text-align: center;
}
