@import '../../../styles/variables';
@import '../../../styles/mixins';

.root {
  background-color: theme('colors.black-5');

  &Colored {
    background-color: theme('colors.green-90');
    color: theme('colors.white');
  }
}

.contentWrapper {
  padding: 6.4rem 0;

  @screen lg {
    padding: 7.2rem 0;
  }

  @screen xxl {
    padding: 9.2rem 0;
  }
}

.quote {
  margin-bottom: 1.6rem;

  p {
    @include typo-h4;
  }
}

.authorName {
  margin-bottom: 0.4rem;

  @screen lg {
    margin-bottom: 0;
  }
}
