@import '../../../../styles/variables';

.root {
    min-width: 32px;
    max-width: 32px;
    width: 32px;
    height: 32px;

  @screen md {
    min-width: 62px;
    max-width: 62px;
    width: 62px;
    height: 62px;
  }
}
