@import '../../../styles/variables';

.root {
  text-align: center;
  color: theme("colors.white");
  position: relative;

  h1 {
    margin: 8rem auto 4rem;

    @screen md {
      margin-top: 11.8rem;
    }

    @screen lg {
      margin-top: 16rem;
    }
  }

  & > div > div {
    margin-bottom: 13.6rem;

    @screen md {
      margin-bottom: 9.6rem;
    }
  }

  .filter,
  .video {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .filter {
    background: $greenGradient;
    z-index: 1;
  }

  .video {
    z-index: -1;
    object-fit: cover;
  }

  .contentWrapper {
    position: relative;
    z-index: 10;
  }

  .numbers {
    & > div {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;

      & > div {
        width: calc(100% / 3 - 1.5rem);
      }
    }
  }

  .countries {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    & > div {
      width: 50%;
      margin-bottom: 2.4rem;

      @screen md {
        width: 25%;
        margin-bottom: 6.4rem;
      }
    }
  }
}
