@import '../../../styles/variables';
@import '../../../styles/mixins';

.root {
  background-color: theme('colors.green-90');
  --swiper-theme-color: theme('colors.green-50');
  text-align: center;
  color: theme('colors.white');
  padding: 10.6rem 0 19.6rem;
  position: relative;

  @screen md {
    padding: 6.4rem 0;
  }
}

.headline {
  margin-bottom: 3.2rem;
  opacity: 0.51;

  @screen md {
    margin-bottom: 4.8rem;
  }
}

.quoteWrapper {
  text-align: center;
}

.quoteText {
  margin-bottom: 2rem;
}

.quoteAuthor {
  margin-bottom: 4rem;
}

.ctaWrapper {
  @include linkDecoration(theme('colors.green-50'));
  margin-bottom: 4rem;
}

.swiperNavigation {
  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    top: unset;
    bottom: 10rem;
    position: absolute;

    @screen md {
      top: 50%;
      bottom: unset;
    }

    &::after {
      display: none;
    }
  }

  :global(.swiper-button-prev) {
    left: calc(50% - 4rem);

    @screen md {
      left: 5.2rem;
    }
  }

  :global(.swiper-button-next) {
    right: calc(50% - 4rem);

    @screen md {
      right: 5.2rem;
    }
  }
}
