@import '../../../styles/variables';

.root {
  // add your styles here
  background-color: theme('colors.green-90');
  display: flex;
  flex-direction: column;
  align-items: center;
  --swiper-theme-color: theme('colors.green-50');
}

.headline {
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  color: theme('colors.white');
  opacity: 0.51;
}

.contentWrapper {
  width: 100rem;
  height: auto;
  display: flex;
  flex-direction: row;
}

.quoteWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.quoteText {
  color: theme('colors.white');
  text-align: center;
  width: 75rem;
  margin-bottom: 2rem;
}

.quoteAuthor {
  color: theme('colors.white');
  text-align: center;
  margin-bottom: 4rem;
}

.ctaWrapper {
  color: theme('colors.green-50');
  text-decoration: underline;
  margin-bottom: 4rem;
}
