@import '../../../styles/variables';

.root {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.contentWrapper {
  // display: grid;
  // grid-template-columns: 1fr 4fr 1fr;
  // align-items: center;
  // justify-items: center;
}

.swiperContainer {
  width: 63rem;

}
