@import '../../../styles/variables';
@import '../../../styles/mixins';

.root {
  position: sticky;
  top: 0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 100;

  &:global {
    &.headroom--unpinned {
      transform: translateY(-101%);
    }

    &.headroom--pinned {
      background-color: theme('colors.white');
    }

    &.headroom--not-top {
      background-color: theme('colors.white');
    }
  }

  :global(.simpleLink) {
    @include mainMenuLinkDecoration(theme('colors.orange-100'));
  }

  .topbar {
    background-color: theme('colors.blue-100');
    color: theme('colors.white');
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    img {
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
    }
  }

  .mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    z-index: 100;
    position: relative;

    @screen md {
      overflow: initial;
    }
  }

  .megaMenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    & > li {
      margin-left: 4rem;
    }
  }

  .mobileToggle {
    svg {
      will-change: auto;
      color: theme('colors.white');
      transform-box: fill-box;
      transition: color 500ms ease;

      line {
        transition: transform 500ms ease, opacity 500ms ease;
        transform-origin: 50% 50%;
      }
    }
  }

  .mobileMenu {
    pointer-events: none;
    transition: opacity 400ms ease;
    position: fixed;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: theme('colors.white');
    overflow: auto;

    li {
      border-bottom: 1px solid theme('colors.black-5');
      padding: 1.6rem 0;
    }
  }

  &.darkMode,
  &.headerHasOpenNav {
    background-color: theme('colors.white');

    .mobileToggle {
      svg {
        color: theme('colors.black-100');
      }
    }
  }

  &.headerHasOpenNav {
    background-color: theme('colors.white');

    .mobileToggle {
      svg {
        color: theme('colors.black-100');
      }

      line {
        &:nth-of-type(1),
        &:nth-of-type(4) {
          opacity: 0;
        }
        &:nth-of-type(2) {
          transform: rotate(45deg);
        }
        &:nth-of-type(3) {
          transform: rotate(-45deg);
        }
      }
    }

    .mobileMenu {
      pointer-events: initial;
      opacity: 1;
      transition-delay: 0.3s;
    }
  }
}
