@import '../../../styles/variables';
@import '../../../styles/mixins';

.root {
  background-color: theme('colors.black-5');
}

.contentWrapper {
  padding: 6.4rem 0 6.3rem 0;
}

.headline {
  text-align: center;
  margin-bottom: 2.4rem;

  @screen md {
    margin-bottom: 4.8rem;
  }
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto 3.9rem;

  @screen md {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @screen lg {
    margin-bottom: 0.9rem;
    max-width: 84.3rem;
  }
}

.ctItem {
  display: flex;
  justify-content: center;
  background-color: theme('colors.white');
  padding: 5.1rem 8rem;
  border-radius: 2rem;
  filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 0.15));
  margin-bottom: 2.4rem;
  min-height: 15.1rem;

  @screen sm {
      &:last-child{
        margin-bottom: 0;
      }
  }

  @screen md {
    width: calc(50% - 1.2rem);
    margin-right: 2.4rem;
    margin-bottom: 3rem;
    padding: 5.1rem 7.8rem;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  @screen lg {
    padding: 4.7rem 4rem;

    width: calc((100% / 3) - 2rem);

    &:nth-child(3n+1) {
      margin-right: 3rem;
    }

    &:nth-child(3n) {
      margin-left: 3rem;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }
}

.copy {
  @include typo-h5;
  text-align: center;
  max-width: 16rem;

  @screen lg {
    max-width: 18.66rem;
  }
}

.buttonWrapper {
  text-align: center;
}
