@import '../../../styles/variables';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  @screen md {
    margin-left: 30rem;
    margin-right: 30rem;
  }

  @screen sm {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.headline {
  color: theme('colors.white');
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  @screen sm {
    width: 100%;
  }
  @screen md {
    width: 50%;
  }
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.iconGrid1 {
  width: 100%;
  margin-bottom: 4rem;
}

.iconGrid2 {
  width: 75%;
  margin-bottom: 4rem;
}

.copy {
  color: theme('colors.white');
  margin-bottom: 4rem;
  text-align: center;
  @screen sm {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  @screen md {
    width: 60%;
    margin-left: 0;
    margin-right: 0;
  }
}

.iconText {
  color: theme('colors.white');
  text-align: center;
  padding-top: 2rem;

  @screen md {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 0;
  }

  @screen sm {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 4rem;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: theme('colors.green-90');
  mix-blend-mode: multiply;
  opacity: 5;
  z-index: -1;
}

.backgroundMobile {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: theme('colors.green-90');
  mix-blend-mode: multiply;
  opacity: 5;
  z-index: -1;
}

.bgImage {
}

.ctaWrapper {
  margin-bottom: 4rem;
}

.gridWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  @screen md {
    margin-left: 20rem;
    margin-right: 20rem;
  }

  @screen sm {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
