@import '../../../styles/variables';

.root {
  position: relative;
  overflow: hidden;
  background-color: theme('colors.green-90');
  color: theme('colors.white');
  text-align: center;
  padding-top: 6.4rem;
  padding-bottom: 8.4rem;

  @screen md {
    padding-bottom: 6.4rem;
  }

  h3 {
    margin-bottom: 1.6rem;

    @screen lg {
      margin-bottom: 3.2rem;
    }
  }
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
  width: 100%;

  @screen md {
    width: calc((100% - 6.8rem) / 3);
  }

  p {
    margin-top: 2.4rem;
  }
}

.iconGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.copy {
  margin-bottom: 5.6rem;
}

.background {
  position: absolute;
  min-width: 100%;
  mix-blend-mode: multiply;
  height: 150%;
  pointer-events: none;
}
