@import '../../../styles/variables';

.root {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.2rem;
  background-color: theme('colors.orange-100');
  color: theme('colors.white');
  font-weight: 700;
  border: 0.4rem solid theme('colors.orange-100');
  transition: color 200ms linear, background-color 200ms linear;
  border-radius: 2rem;
  padding: 0.6rem 2.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    background-color: transparent;
    color: theme('colors.orange-100');
    padding: 0.6rem 2.1rem;
  }
}
