.badge {
  border: 0.1rem solid theme('colors.black-50');
  border-radius: 10rem;
  color: theme('colors.black-50');
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  &--filled {
    align-items: center;
    background-color: theme('colors.orange-100');
    border-color: theme('colors.orange-100');
    color: theme('colors.white');
    display: flex;
    gap: 1rem;
  }
  &__value {
    align-items: center;
    background-color: theme('colors.white');
    border-radius: 10rem;
    color: theme('colors.black');
    display: flex;
    height: 2.4rem;
    justify-content: center;
    padding: 0.4rem;
    width: 2.4rem;
  }
}
