@mixin linkDecoration($color : 'inherit', $invert : false) {
    color: $color;
    text-decoration: underline;
    transition: text-decoration-color 0.5s ease;

    @if $invert {
        text-decoration-color: $color;
    
        &:hover,
        &:focus {
            text-decoration-color: transparent;
        }
    } @else {
        text-decoration-color: transparent;
    
        &:hover,
        &:focus {
            text-decoration-color: $color;
        }
    }
}
