@import '../../../styles/variables';
@import '../../../styles/mixins';

.root {
  padding-bottom: 6.4rem;
  color: theme("colors.white");
  text-align: center;

  @screen xl {
    padding-bottom: 7.2rem;
  }

  &:global(.white) {
    color: theme('colors.black-100');
  }
}

.contentWrapper {
  position: relative;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 2rem;
  overflow: hidden;
}

.innerContentWrapper {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 2rem 7.9rem 2rem;

  @screen md {
    padding: 8rem 0 7.9rem 0;
  }
}

.headline {
  margin-bottom: 2.4rem;

  @screen md {
    margin-bottom: 1.6rem;
  }
}

.cb_copy {
  margin-bottom: 2.3rem;

  @screen md {
    margin-bottom: 3.4rem;
  }

  @screen lg {
    margin-bottom: 2rem;
  }

  p {
    @include typo-p;

    max-width: 27.9rem;

    @screen md {
      max-width: 40rem;
    }

    @screen lg {
      max-width: 45rem;
    }
  }
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;

  &:global(.green),
  &:global(.white) {
    mix-blend-mode: normal;
    opacity: 0.88;
  }

  &:global(.green) {
    background-color: theme('colors.green-90');
  }

  &:global(.white) {
    background-color: theme('colors.black-5');
  }
}
