@import '../../../styles/variables';

.root {
  padding: 0 2rem 6.4rem 2rem;

  @screen md {
    padding: 0 7rem 6.4rem 7rem;
  }
}

.contentWrapper {
  background-color: theme('colors.green-90');
  //background-image: url("https://earnix.stg.pxlp.dev/assets/gettyimages-654206568-(image).png");
  background-position: 50% 50%;
  opacity: 0.88;
  border-radius: 2rem;
  padding: 0 2rem 7.9rem 2rem;

  @screen md {
    padding: 0 0 7.9rem 0;
  }
}

.innerContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.headline {
  text-align: center;
  color: theme('colors.white');
  margin-bottom: 2.6rem;

  @screen md {
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: -0.05rem;
    margin-bottom: 1.6rem;
  }
}

.cb_copy {
  text-align: center;
  color: theme('colors.white');
  margin-bottom: 2.1rem;

  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 27.9rem;

    @screen md {
      font-size: 1.4rem;
      line-height: 2.2rem;
      max-width: 38rem;
      letter-spacing: -0.05rem;
    }
  }
}
