@import '../../../styles/variables';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.contentWrapper {
  height: auto;
  align-items: center;
  justify-items: center;
  margin-bottom: 7.5rem;
  margin-top: 4rem;

  @screen sm {
    width: 100%;
    margin-right: 0;
    gap: 0;
  }
  @screen md {
    width: 80rem;
    gap: 2rem;
  }
  @screen xl {
    width: 100%;
  }
}

.imageWrapper {
  height: auto;
  position: relative;
  top: 0;
  position: relative;
  border-radius: 10px;

  @screen sm {
    margin-right: 0;
    margin-top: 4rem;
  }
  @screen md {
    margin-right: 1.5rem;
    margin-top: 0;
  }
}

.image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.headline {
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 2rem;

  @screen md {
    margin-top: 0;
  }
}

.copy {
  margin-bottom: 2rem;
  width: 100%;
}

.ctaWrapper {
}
